/* global.css */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-panel);
  color: var(--gray-12);
}

.dialogOverlay {
  background-color: var(--gray-a9);
  position: fixed;
  inset: 0;
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray-1);
  border-radius: 6px;
  padding: 1rem 1.5rem 1.25rem;
  width: 24rem;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px
    rgba(22, 23, 24, 0.2);
  border: 1px solid var(--gray-6);
}

.dialogTitle {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--gray-12);
}

.inputField {
  border: 1px solid var(--gray-6);
  border-radius: 4px;
  padding: 0.5rem;
}

.buttonGhost {
  text-decoration: underline;
  padding: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}

.iconCircle {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  border-radius: 999px;
  border: 2px solid var(--gray-9);
  background-color: var(--gray-4);
  color: var(--gray-9);
}
