.multiSelectDropdown {
  width: 100%;
}

.multiSelectDropdownTextField {
  width: 100%;
  padding: 1px;
}

.multiSelectDropdownTextFieldSlot {
  max-width: 85%;
  overflow-x: auto;
}

.popUpList {
  position: fixed;
  max-height: 400px;
  margin-top: 4px;
  z-index: 1000;
  overflow-y: auto;
  background-color: var(--color-background);
  color: var(--accent-12);
  box-shadow: 0 2px 8px var(--gray-8);
  border-radius: 0.4rem;
  animation: slideUpAndFade 150ms ease-in-out;
}



@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


