.multiSelectDropdown {
  position: relative;
  width: 100%;
}

.multiSelectDropdownTextField {
  width: 100%;
  padding: 1px;
}

.multiSelectDropdownTextFieldSlot {
  max-width: 80%;
  overflow-x: auto;
}

.popUpList {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  z-index: 1000;
  overflow-y: auto;
  background-color: var(--color-background);
  color: var(--accent-12);
  box-shadow: 0 2px 8px var(--gray-8);
  border-radius: 0.4rem;
}
