.sideBar {
  flex: 1;
  min-width: 300px;
  background-color: var(--accent-5);
  padding: 0.7rem;
}

.main {
  flex: 2;
  padding: 1rem;
  background-color: var(--accent-4);
}

.context {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
  background-color: var(--accent-5);
}
