.page {
  height: 100%;
  padding: 0.5rem;
}

.header {
  padding: 1rem;
  background-color: var(--accent-9);
  color: var(--accent-contrast);
  border-radius: 0.5rem 0.5rem 0 0 ;
}

.content {
  flex: 1;
  background-color: var(--accent-6);
}

.footer {
  padding: 1rem;
  flex-direction: row-reverse;
  background-color: var(--accent-9);
  color: var(--accent-contrast);
  border-radius: 0 0 0.5rem 0.5rem;
}