.page {
  display: flex;
  flex-direction: column;
  height: 100dvh; /* Full viewport height */
  padding: 0.5rem;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  overflow: auto;
  padding: 1rem;
  background-color: var(--accent-9);
  color: var(--accent-contrast);
  border-radius: 0.5rem 0.5rem 0 0;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
  background-color: var(--accent-6);
}

.footer {
  padding: 1rem;
  background-color: var(--accent-9);
  color: var(--accent-contrast);
  border-radius: 0 0 0.5rem 0.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
}
