.treeItemCard {
  background-color: var(--accent-3);
  border: 1px solid var(--accent-8);
  border-radius: 0.375rem;
}

.treeItemCard:not([data-selected]):not([data-pending]):hover[data-selectable] {
  background-color: var(--accent-4);
}

.treeItemCard[data-selected] {
  background-color: var(--accent-5);
}

.treeItemCard[data-pending] {
  background-color: var(--accent-6);
  animation: blink 1s ease-in-out infinite;
}

.reorderButton {
  background-color: inherit;
}

.reorderButton[data-hidden] {
  visibility: hidden;
}

.noselect {
  user-select: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.99);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.01);
    opacity: 1;
  }
}
