.treeItemRow {
    background-color: var(--accent-3);
    border: 1px solid var(--accent-8);
    border-radius: 0.375rem;
}

.treeItemRow:hover[data-selectable] {
    background-color: var(--accent-4);
}

.treeItemRow[data-selected],
.treeItemRow[data-selected]:hover {
    background-color: var(--accent-5);
}

.noselect {
  user-select: none;
}